# Virtual environment
venv/
.venv/

# Database
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# Dataset / face images
dataset/

# Python cache
__pycache__/
*.py[cod]
.pytest_cache/

# Environment files
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Videos
*.mp4
*.avi
*.mov
*.mkv

# Logs
*.log

attendance_system.db
models/trainer.yml

# OS
.DS_Store
Thumbs.db